body{
    background-color: rgb(235, 237, 238);
}
header{
    position:inherit;
    color: white;
    background-color: rgb(144, 175, 171);
    letter-spacing: 4px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
}
h1{
    text-align: center;
}
main{
    /* background-color: rgb(221, 219, 219); */
}
#sect-list{
    flex: 1;
    margin-top: 1rem;
}
#sect-form{
    border-left:1px solid grey;
    border-radius: 20px;
    padding-top:25px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid rgb(184, 184, 184);
    background-color: rgb(210, 218, 215);
    margin-right: 68rem;
    margin-left: 20px;
}
.control{
    margin-bottom: 15px;
}
.control label{
    display:flex;
}
.icon-important{
    color:white;
    font-size: 25px;
    cursor: pointer;
}
.fas{
    color: rgb(33, 101, 104);
}
.far{
    color:rgb(182, 170, 38);
}
.task{
    display: flex;
    flex-direction: row-reverse;
}
